[Desktop Entry]
Encoding=UTF-8
Name=Link to Upload files
Type=Link
URL=https://github.com/newbroman/Newborough_Hydrology/upload/main/outputs
Icon=text-html
